<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Tutorial</title>
</head>
<body>
    <div class="intro">
        <h1> The django blog </h1>
        <p>This web application is done according to the <a href="http://tutorial.djangogirls.org/en/index.html">DjangoGirls Tutorial</a></p>

        <div>
            <h2> First div</h2>
            <p>This is my personal project to improve my web development skills</p>
            <p>I'll <em>try</em> to test a lot of the basics in the beginning to get som training done, and then move on to more advanced stuff</p>
        </div>

        <div>
            <h2>Second div </h2>
            <p> Hopefully I'll get some experience both from the pure front-end side and some server work</p>
        </div>

        <div>
            <h2>Things I'd like to improve include:</h2>
            <ul>
                <li>HTML & CSS</li>
                <li>Javascript</li>
                <li>Django</li>
                <li>JS frameworks</li>
            </ul>
        </div>
    </div>

    {% for post in posts %}
    <div class="post">
        <p>published: {{post.published_date}}</p>
        <h2><a href="">{{post.title}}</a></h2>
        <p>{{post.text|linebreaks}}</p>
    </div>
    {% endfor %}
    <div class="footer">
        <h2>About me</h2>
        <p>I study I and have an interest in most things IT, but I prefer high level stuff. C pointers I leave to others.</p>
    </div>

</body>
</html>