    <template id="template1">
    <div>
        <h2> First div</h2>
        <p>This is my personal project to improve my web development skills</p>
        <p>I'll <em>try</em> to test a lot of the basics in the beginning to get som training done, and then move on to more advanced stuff</p>
    </div>

    <div>
        <h2>Second div </h2>
        <p> Hopefully I'll get some experience both from the pure front-end side and some server work</p>
    </div>

    <div>
        <h2>Things I'd like to improve include:</h2>
        <ul>
            <li>HTML & CSS</li>
            <li>Javascript</li>
            <li>Django</li>
            <li>JS frameworks</li>
        </ul>
    </div>
</template>