h1, h2, h3, h4 {
    color: #FCA205;
    font-family: 'Lobster', 'cursive';
}

p{
    font-size: 16px;
}

body {
    margin:  auto 15em;
    background-color: beige;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header a, .page-header a:visited{
    color: #ffffff;
}

.content{
    margin-left: 40px;
}
.post{
    margin-bottom: 4em;
    background-color: aliceblue;
    /*border: 2px solid #4b4b4b;*/
    padding: 1em;
}

.date{
    float: right;
    color: #828282;
}
.footer{
    background-color: antiquewhite;
}

.post-form textarea, .post-form input{
    width:100%;
}

.save{
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited{
    color: #ffffff;
    float: right;
    font-size: 26px;
    margin-right: 20px;

}