body{
    margin: 0px;
}

.top-header {
    width: 100%;
    height: 20%;
    background-color: #94dd00;
    color: #ffffff;
    overflow: auto;
}
.top-header h1 {
    margin: 1em auto;
    width: 50%;

}
.top-menu{
   /* margin-left: 85%;*/
    width: 15%;
    overflow: auto;
    padding: 1em 0em;
    /*float: right;*/
}

.top-menu a {
    background-color: #8dd700;
    display: block;
    width: 33%;
    float: left;
}